* {
  margin: 0; /* zerar a margem externa dos elementos */
  padding: 0; /* zerar a margem interna dos elementos */
}
header {
  /* vamos adicionar uma imagem de fundo ao cabeçalho */
  background-image: url("../img/cafeteria2.jpg");
  background-position: 0px -100px;
  height: 300px;
  transition: ease 1s;
  width: 100%;
}
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Oswald";
  padding-top: 100px;
  font-size: 40px;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}
/* vamos formatar os elementos de li para ficar um ao lado do outro
com o comando display */
nav ul li {
  /* dispor os links um ao lado do outro */
  display: inline-block;
  /* border: 1px solid red; */
  margin-left: 10px;
  margin-right: 10px;
}
/* alinhar os elementos de link ao centro usando text-align:center
no nav, assim tudo que estiver dentro do  nav ira para o centro
 */
nav {
  text-align: center;
  margin-top: 50px;
  /* a cor utilizada para o fundo da barra nav foi o rgba,
  que significa red, green, blue, alpha, onde o valor mais proximo
  do 0 é totalmente trasparente e quanto mais proximo do 1 é 
  totalmente solido. neste caso estamos usando 50% de solidez,
  ou seja aplicamos 50% de trasparencia */
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  /* para retirar o sublinhado dos links utilizaremos 
  o comando text-decoration com o valor none */
  text-decoration: none;
  font-family: "oswald";
  /* aplicação de negrito na letra */
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
  padding-left: 10px;
  /* background-color: rgb(100, 100, 100); */
}
/* criação da formatação do rodapé */
footer {
  background-color: rgb(75, 35, 9);
  font-family: "oswald";
  text-align: center;
  padding-top: 20px;
}

div ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

div a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

main {
  /* vamos aplicar uma margem interna de 20px utilizaremos o comando padding 
   */
  padding: 20px;
}

h2 {
  font-family: "oswald";
  color: rgb(0, 0, 0);
  font-size: 30pt;
  border-bottom: 4px dashed rgb(75, 35, 9);
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-family: "oswald";
  margin-left: 20px;
  font-size: 20pt;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-align: center;
}

p {
  padding-left: 70px;
  padding-right: 70px;
  text-align: justify;
  /* aplicaremos um comando que aumenta a altura da linha 
  esse efeito simula o espaçamento entre linhas encontrado no word o comando
  é line-height */
  line-height: 25px;
  margin-bottom: 30px;
  font-family: "oswald";
  font-size: 13.5pt;
}
#home {
  text-align: center;
}

#home img {
  height: 400px;
  width: 400px;
  margin: 30px;
  /* vamos aplicar um efeito de trasparencia com o comando opacity,onde 1 é totalmente 
  visivel e 0 é totalmente transparente */
  opacity: 0.8;
  border-radius: 50%;
  transition: ease 1s;
}

#home img:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
  /* transform: rotate(360deg); */
  /* transform: rotateX(360deg); */
}
#acafeteria img {
  width: 400px;
  height: 400px;
  /* text-align: center; */
  border-radius: 50%;
  opacity: 0.8;
}
#acafeteria iframe {
  margin-left: auto;
  margin-right: auto;
}

#acafeteria {
  text-align: center;
}
#video {
  text-align: center;
}
#acafeteria img:hover {
  transition: ease 1s;
  transform: scale(1.1);
  opacity: 1;
}

/* abaixo a formatação para a pagina cardapio */

#container,
#linha,
#imagem,
#texto {
  /* border: 2px solid rgb(75, 35, 9) */
}
#container {
  display: inline-block;
}

#linha {
  display: table;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#imagem img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#imagem {
  width: 200px;
  height: 200px;
  /* fazer a imagem flutuar para a esquerda */
  float: left;
}
#texto {
  padding: 20px;
  width: 80%;
  float: left;
}
#container {
  display: inline-block;
  /* border-bottom: 2px dashed rgb(75, 35, 9); */
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px rgb(75, 35, 9);
}

form {
  border: 3px dashed rgb(75, 35, 9);
  width: 50%;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-family: "oswald";
}
label {
  /* para dispor os elemntos um abaixo do outro utilizaremos o comando display block */
  display: block;
  /* aplicar negrito usamos o font-weight: bold; */
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid rgb(75, 35, 9);
  background-color: rgba(75, 35, 9, 0.2);
}

input[type="tel"] {
  width: 15%;
}

#sexo {
  display: block;
  margin-bottom: 15px;
}

select {
  padding: 10px;
  width: 20%;
  cursor: pointer;
}

select option:hover {
  background-color: rgb(75, 35, 9);
  color: white;
  padding: 5px;
  cursor: pointer;
}
textarea {
  width: 60%;
  height: 200px;
  display: block;
}
input[type="submit"] {
  display: block;
  border: 0;
  color: rgb(75, 35, 9);
  padding: 10px;
  background-color: rgba(75, 35, 9, 0.2);
  cursor: pointer;
}
